root = true

[*]
indent_style = space
indent_size = 4

[*.cs]
max_line_length = 30 : warning#doesn't work

[*.cs]
csharp_style_var_for_built_in_types = false : warning
csharp_style_var_when_type_is_apparent = true : warning
csharp_style_expression_bodied_properties = true : warning


csharp_prefer_braces = true : warning

csharp_space_between_parentheses = true: warning